/* Archivo de estilo de la página de Halloween */
body {
  background-color: black;
}
#wrapper {
  position: relative; /* Para poder mover el h1 necesitamos el wrapper en posición relativa */
  background-image: url("../imagenes/FondoHalloween2.jpg");
  width: 1400px;
  height: 845px;
  background-repeat: no-repeat;
  margin: auto;
}
@font-face {
  font-family: fuenteTitulo;
  src: url(../fuentes/MR.MONSTAR.otf);
}
@font-face {
  font-family: fuenteZombie;
  src: url(../fuentes/MISTV.TTF);
}
h1 {
  position: absolute;
  left: 125px;
  font-size: 3em;
  font-family: fuenteTitulo;
}
p.p1 {
  position: relative;
  top: 110px;
  left: 50px;
  font-size: 27px;
  font-family: fuenteZombie;
}
p.p2 {
  position: absolute;
  top: 130px;
  left: 50px;
  font-size: 27px;
  font-family: fuenteZombie;
}
p.p3 {
  position: absolute;
  top: 180px;
  left: 50px;
  font-size: 2em;
  font-family: 'Creepster', cursive;
}
p.zombie {
  position: absolute;
  top: 240px;
  left: 80px;
  font-size: 2em;
  font-family: 'Creepster', cursive;
}
#ventana {
  position: absolute;
  top: 170px;
  left: 1143px;
  /* border: 3px solid white;  */
  width: 40px;
  height: 40px;
  cursor: not-allowed;
}
#ventana2 {
  position: absolute;
  top: 355px;
  left: 510px;
  /* border: 3px solid white; */
  width: 65px;
  height: 65px;
  cursor: not-allowed;
}
#truco {
  position: absolute;
  top: 400px;
  left: 1060px;
  visibility: hidden;
  cursor: not-allowed;
}
#sabrina {
  position: absolute;
  top: 350px;
  left: 460px;
  visibility: hidden;
  cursor: not-allowed;
}