.square {
  width: 30%;
  height: 30%;
  border: solid black
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 610px;
}

.mole {
  background-image: url('carlourao.jpeg');
  background-size: cover;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin: auto;
}

.mt-5 {
  margin-top: 40px;
}

.p {
  padding: 10px;
}

.jumbotron {
  width: 60%;
  background-color: rgb(240, 240, 240);
}

@media  (max-width: 600px) {
  .grid {
    width: 309px;
    height: 305px;
  }
}

@media  (max-width: 330px) {
  .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 247.2px;
    height: 244px;
  }
}