html, body {
  height: 100%;
}
/* HEADER */
.bg-image {
  background-image: url("imagenes/avocado.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#contraste {
  background-color: rgba(255, 255, 255, 0.5);
}
