html, body {
  height: 100%;
}
/* HEADER */
.bg-image {
  background-image: url("imagenes/avocado.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#contraste {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-gris {
  background-color: rgb(226, 226, 226);
}

.bg-dark {
  background-color: #202124 !important;
}

.color-white {
  color: white;
}

.p-6 {
  padding: 4rem 1rem;
}

@media only screen and (max-width: 500px) {
  .display-3 {
    font-size: 2.8rem;
  }

  .display-4 {
    font-size: 2.5rem;
  }
}
